<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{% block head_title %}{% endblock %} My Path</title>
  </head>
  <body>
    {% include 'navbar.html' %}
  	<div class="container">
  		<div class="row">
  			<div class="col-6 mx-auto">

          {% block content %}



          {% endblock %}
  			</div>
  		</div>
  	</div>

    {% include 'js.html' %}
  </body>
</html>