{% extends "base.html" %}

{% block head_title %}My Path{% endblock %}

{% block content %}

{{ title }}

{{ request.user }}

{{ request.path }}

{{ user }}

{{ user.is_authentificated }}

{% if user.is_authenticated %}

<h1>User only data</h1>
	{% for a in my_list %}
	<li>{{ a }}</li>
	{% endfor %}
{% endif %}

{% endblock %}